@font-face {
	font-family: Aclonica;
	src: url(./fonts/Aclonica-Regular.ttf)
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#header{
	background: url(./img/bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	padding-bottom: 30px;
}
.navbar-brand{
	margin-top: -7px;
}
.header-navbar {
	background: transparent;
	border: transparent;
	margin-top: 20px;
}
.header-navbar-right-button a{
	padding: 5px 5px !important;
	color: brown;
	text-transform: capitalize;
}
.header-navbar-right>li>a{
	color: white !important;
} 
.size{
	border: 2px solid transparent;
}
.header-navbar-right-button{
	border: 2px solid red;
	border-radius: 30px;
	margin-top: 10px;
}
.header-title{
	width: 60%;
	margin: auto;
	text-align: center;
	margin-top: 100px;;
	color: white;
}
.header-title p{
	margin-top: 20px;
}
.header-search{
	width: 40%;
	margin: 50px auto 80px auto;
}
.search{
	width: 70%;
	padding: 7px;
	border-radius: 20px 0 0 20px;
	border-color: transparent;
}
.submit{
width: 30%;
margin-left: -5px;
padding: 7px;
border-radius: 0 20px 20px 0;
color: white;
background-color: red;
border-color: transparent;
}
.header-chat{
	width: 30%;
	margin: auto;
}
.header-chat div{
	background: white;
	border-radius: 20px;
	margin: 20px auto;
	position: relative;
	height: 80px;
	width: 80%;
}
.header-chat p{
	width: 80%;
	margin: 10px auto;
}
.chat-left{
	text-align: left;
	position: absolute;
	left: -60px;
}
.chat-left p{
	padding: 5px;
}
.chat-right{
	text-align: left;
	position: absolute;
	right: -60px;
}
.chat-left img{
	position: absolute;
	left: -40px;
	top: 5px;
	width: 70px;
}
.chat-right img{
	position: absolute;
	right: -40px;
	top: 5px;
	width: 70px ;
}
.graphik img{
	width: 100%;
}
.strip{
	border-bottom: 2px solid whitesmoke;
	margin: 80px 80px;
}
.subtitle{
	width: 30%;
	margin: auto;
	text-align: center;
}
.subtitle p{
	font-size: 13px;
	color: darkgray;
}
.container{
	margin-top: 100px;
}
.cells-content{
	width: 100%;
}
.row{
	padding: 0px 15px 0px 15px;
	width: 100%;
}
.row p{
color: darkgray;
}
.defice{
	width: 50px;
	height: 1px;
	background-color: red;
	margin: 20px 0 20px 0;
}
.row-box a{
	color: red;
}
.sources{
	clear: both;
	display: table;
	margin-top: 50px;
	padding-bottom: 10px;
	position: relative;
}
.sources-left{
	float: left;
}
.sources-right{
	float: right;
	margin-left: 20px;
}
.sources-line{
	height: 60px;
	width: 1px;
	background-color: darkgray; 
	position: absolute;
	top: 25px;
	left: 50%;
}
.btn{
	color: white;
	background-color: red;
	border-radius: 20px;
	margin-top: 30px;
	border:transparent ;
	padding:10px 40px 10px 40px;
}
.clip{
	width: 70%;
	margin: 50px auto 0 auto;
}
.clip img{
	width: 100%;
}
.container{
	width: 70%;
	margin-top: 50px;
}
.row-recomend{
	position: relative;
}
.row-recomend img{
	width: 30px;
	position: absolute;
	left: 0;
	top: 10px;
}
.row-recomend h4{
	font-size: 12px; ;
}
.row-recomend p{
	color: darkgray;
	font-size: 10px;
}
.meaning{
	padding-left: 50px;
}
.meaning p{
	border-bottom: 1px solid darkgray;
	padding-bottom: 10px;
}
.social{
	padding-right: 70px;
}
.long-defise{
	width: 300px;
	background-color: darkgray;
	height: 1px;
	margin: 15px 0 15px 0;
}


@media(max-width:425px){
.header-button a{
	width: 30%;
}
.header-title p{
	text-align: left;
}
.header-search{
	width: 80%;
}
.header-chat{
	width: 80%;
}
.chat-left{
	position: absolute;
	left: 0;
}
.chat-right{
	position: absolute;
	right: 0;
}
.search{
	width: 70%;
}
.submit{
	width: 30%;
}
}
@media(max-width:768px){
.header-search{
	width: 80%;
	}	
	.header-chat{
		width: 70%;
	}
	.chat-left{
		position: absolute;
		left: 0;
	}
	.chat-right{
		position: absolute;
		right: 0;
}
}
@media(max-width:1024px){
	.search{
		width: 70%;
	}
	.submit{
		width: 30%;
	}
}