* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#header{
	background: url(./img/bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	padding-bottom: 30px;
}
.navbar-brand{
	margin-top: -7px;
}
.header-navbar{
	background: transparent;
	border: transparent;
	margin-top: 20px 
} 
.header-navbar-right>li>a{
	color: white !important;
}
.header-button{
	margin-top: 10px;
}
.header-button a{
	border: 2px solid red;
	border-radius: 30px;
	padding: 5px !important;
}
.header-title{
	width: 70%;
	margin: auto;
	text-align: center;
	margin-top: 100px;;
	color: white;
}
.header-title p{
	margin-top: 20px;
}
.header-search{
	width: 40%;
	margin: 50px auto 80px auto;
}
.search{
	width: 80%;
	padding: 7px;
	border-radius: 20px 0 0 20px;
	border-color: transparent;
}
.submit{
width: 20%;
margin-left: -5px;
padding: 7px;
border-radius: 0 20px 20px 0;
color: white;
background-color: red;
border-color: transparent;
}
.header-chat{
	width: 30%;
	margin: auto;
}
.header-chat>div{
	background: white;
	border-radius: 20px;
	margin: 20px auto;
	position: relative;
	height: 80px;
	width: 80%;
}
.chat-left{
	text-align: left;
	padding: 20px 30px 20px 40px;
	position: absolute;
	left: -60px;
}
.chat-right{
	text-align: left;
	padding: 20px 30px 20px 40px;
	position: absolute;
	right: -60px;
}
.chat-left img{
	position: absolute;
	left: -40px;
	top: 5px;
	width: 70px;
}
.chat-right img{
	position: absolute;
	right: -40px;
	top: 5px;
	width: 70px ;
}
@media(max-width:425px){
.header-button a{
	width: 30%;
}
.header-title p{
	text-align: left;
}
.header-search{
	width: 80%;
}
.header-chat{
	width: 80%;
}
.chat-left{
	position: absolute;
	left: 0;
}
.chat-right{
	position: absolute;
	right: 0;
}

}