
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#header{
	background: url(./img/bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	padding-bottom: 30px;
}
.navbar-brand{
	margin-top: -7px;
}
.header-navbar {
	background: transparent;
	border: transparent;
	margin-top: 20px;
}
.header-navbar-right-button a{
	padding: 5px 5px !important;
	color: brown;
	text-transform: capitalize;
}
.header-navbar-right>li>a{
	color: white !important;
} 
.size{
	border: 2px solid transparent;
}
.header-navbar-right-button{
	border: 2px solid red;
	border-radius: 30px;
	margin-top: 10px;
}
.header-title{
	width: 60%;
	margin: auto;
	text-align: center;
	margin-top: 100px;;
	color: white;
}
.header-title p{
	margin-top: 20px;
}
.header-search{
	width: 40%;
	margin: 50px auto 80px auto;
}
.search{
	width: 70%;
	padding: 7px;
	border-radius: 20px 0 0 20px;
	border-color: transparent;
}
.submit{
width: 30%;
margin-left: -5px;
padding: 7px;
border-radius: 0 20px 20px 0;
color: white;
background-color: red;
border-color: transparent;
}
.header-chat{
	width: 30%;
	margin: auto;
}
.header-chat div{
	background: white;
	border-radius: 20px;
	margin: 20px auto;
	position: relative;
	height: 80px;
	width: 80%;
}
.header-chat p{
	width: 80%;
	margin: 10px auto;
}
.chat-left{
	text-align: left;
	position: absolute;
	left: -60px;
}
.chat-left p{
	padding: 5px;
}
.chat-right{
	text-align: left;
	position: absolute;
	right: -60px;
}
.chat-left img{
	position: absolute;
	left: -40px;
	top: 5px;
	width: 70px;
}
.chat-right img{
	position: absolute;
	right: -40px;
	top: 5px;
	width: 70px ;
}
.graphik img{
	width: 100%;
}
.container-strip{
	border-bottom: 2px solid whitesmoke;
	margin: 80px 80px;
}
.container-subtitle{
	width: 40%;
	margin: auto;
	text-align: center;
}
.container-subtitle p{
	font-size: 13px;
	color: darkgray;
}
.container{
	margin-top: 100px;
}
.cells-content{
	width: 100%;
}
.row-container{
	padding: 0px 15px 0px 15px;
	width: 100%;
}
.row-container p{
color: darkgray;
}
.container-defice{
	width: 50px;
	height: 1px;
	background-color: red;
	margin: 20px 0 20px 0;
}
.row-box a{
	color: red;
}
.container-sources{
	clear: both;
	display: table;
	margin-top: 50px;
	padding-bottom: 10px;
	position: relative;
}
.container-sources-left{
	float: left;
	border-right: 1px solid whitesmoke;
}
.container-sources-right{
	float: right;
	margin-left: 20px;
}

.container-btn{
	color: white;
	background-color: red;
	border-radius: 20px;
	margin-top: 30px;
	border:transparent ;
	padding:10px 40px 10px 40px;
}
.container-clip{
	width: 70%;
	margin: 50px auto 0 auto;
}
.container-clip img{
	width: 100%;
}
.container{
	width: 70%;
	margin-top: 50px;
}
.row-container-recomend{
	position: relative;
}
.row-container-recomend img{
	width: 30px;
	position: absolute;
	left: 0;
	top: 10px;
}
.row-container-recomend h4{
	font-size: 13px; ;
}
.row-container-recomend p{
	color: darkgrey;
	font-size: 11px;
}
.meaning{
	padding-left: 50px;
}
.meaning p{
	border-bottom: 1px solid whitesmoke;
	padding-bottom: 10px;
}
.container-social{
	padding-right: 30%;
}
.container-long-defise{
	width: 300px;
	background-color: whitesmoke;
	height: 1px;
	margin: 15px 0 15px 0;
}
.container-signature{
	padding-left: 50px;
	margin-top: 40px;
}
.container-leiba{
	position: relative;
}
.container-circle{
	width: 40px;
	height: 40px;
	background-color: darkgrey;
	border-radius: 50%;
	padding-left: 30px;
	position: absolute;
	left: 0;
	top: 0;
}
.container-other-fonts{
font-family:Georgia, 'Times New Roman', Times, serif;
color: black !important;
}
.site-footer{
	background-color: whitesmoke;
	height: auto;
	margin-top: 100px;
	font-size: 12px;
}
.logo-text p{
	text-align: left;
	padding-right: 50px;
}
.footer-logo{
	margin-bottom: 20px;
}
.footer-logo img{
	width: 60px;
}
.copyright{
	position: relative;
}
.copyright-text{
	position: absolute; 
	bottom: -85px;
	right: 30%;
}
.copyright-text img{
	width: 15px;
	padding-right: 5px;
}
.icons ul li{
 list-style-type: none;
 display: inline-block;
 padding-left: 15px;
}
.icons{
	text-align: right;
	padding-top: 30px;
}
.icons img{
	width: 15px;
} 


@media(max-width:425px){
.header-button a{
	width: 30%;
}
.header-title p{
	text-align: left;
}
.header-search{
	width: 80%;
}
.header-chat{
	width: 80%;
}
.chat-left{
	position: absolute;
	left: 0;
}
.chat-right{
	position: absolute;
	right: 0;
}
.search{
	width: 70%;
}
.submit{
	width: 30%;
}
}
@media(max-width:768px){
.header-search{
	width: 80%;
	}	
	.header-chat{
		width: 70%;
	}
	.chat-left{
		position: absolute;
		left: 0;
	}
	.chat-right{
		position: absolute;
		right: 0;
}
}
@media(max-width:1024px){
	.search{
		width: 70%;
	}
	.submit{
		width: 30%;
	}
}